@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Octa-Brain";
  src: url(/fonts/Octa\ Brain\ Regular.ttf);
}

@font-face {
  font-family: "Ginger";
  src: url(/fonts/F37\ Ginger\ Regular.ttf);
}

.active {
  @apply text-[#3870FF];
}
.active div {
  @apply bg-[#3870FF];
  @apply text-white;
  @apply border-[#3870FF];
}
